@media (min-width: 48em) {
  .sidebar {
    width: 15rem;
  }
}

.sidebar-about h1 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
}

.lead {
  font-size: 1rem;
}

.copyright {
  font-size: 0.5rem;
}

/* Color theme */
.theme-powdahound .sidebar {
  background-color: #336699;
}
.theme-powdahound .content a,
.theme-powdahound .related-posts li a:hover {
  color: #336699;
}

/* Captioned images */
figure {
  margin: 1.5rem;
}
figure img {
  margin-bottom: 0.2em;
}
figcaption {
  font-size: 0.7rem;
  text-align: center;
}
