/*****************************************************************************/
/* Theme overrides                                                           */
/*****************************************************************************/
.theme-powdahound .sidebar {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  width: 100%;
  padding: 0;
}

.theme-powdahound .sidebar .container {
  max-width: 100%;
  padding: 0.25rem;
  margin: 0;
}

.theme-powdahound .sidebar .lead {
  display: none;
}

.theme-powdahound .sidebar-about h1 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.75rem;
}

.theme-powdahound .sidebar-about h1 span {
  display: inline-block;
  position: relative;
  top: 0.2rem;
}

/* Header nav */
.theme-powdahound nav.sidebar-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
}
.theme-powdahound .sidebar-nav-item {
  display: inline-block;
  float: right;
  margin-right: 0.75rem;
}

/* Social links */
.theme-powdahound nav.social {
  display: none;
}
.theme-powdahound nav.social a {
  padding-right: 0.4rem;
  font-family: 'socicon';
  font-size: 0.6rem;
  opacity: 0.5;
}
.theme-powdahound nav.social a:hover {
  opacity: 1;
  text-decoration: none;
}
.theme-powdahound nav.social a:last-child {
  padding-right: 0;
}

.theme-powdahound .content {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.theme-powdahound .sidebar {
  background-color: #336699;
}
.theme-powdahound .content a,
.theme-powdahound .related-posts li a:hover {
  color: #336699;
}

/*****************************************************************************/
/* Content stuff                                                             */
/*****************************************************************************/

/* Captioned images */
figure {
  margin: 1.5rem;
}
figure img {
  margin: 0 auto 0.2em auto;
}
figcaption {
  font-size: 0.7rem;
  text-align: center;
}

/* Snowflake list items in posts */
.post ul {
  list-style: none;
  padding-left: 1.8rem;
  text-indent: -1.2rem;
}

.post ul li:before {
  content: "\2744";
  display: block;
  float: left;
  width: 1.2rem;
}

/* Post content stuff */
img.right {
  float: right;
  margin: 0 0 1rem 1rem;
}
img.left {
  float: left;
  margin: 0 1rem 1rem 0;
}

/* Post metadata area below title */
.post-metadata {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
  .post-metadata a {
    color: #9a9a9a !important;
  }
  .post-metadata .post-date {
    display: inline;
    margin: 0;
  }

/*****************************************************************************/
/* Footer                                                                    */
/*****************************************************************************/

/* Footer with copyright and whatnot */
footer {
  text-align: center;
  font-size: 0.6rem;
}
  footer, footer a {
    color: #ccc !important;
  }
  footer a {
    text-decoration: underline;
  }

/*****************************************************************************/
/* Social icons font from socicon.com                                        */
/*****************************************************************************/
@font-face {
  font-family: 'socicon';
  src: url('font/socicon-webfont.eot');
  src: url('font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/socicon-webfont.woff') format('woff'),
  url('font/socicon-webfont.woff2') format('woff2'),
  url('font/socicon-webfont.ttf') format('truetype'),
  url('font/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

a.socicon {
  text-decoration: none;
  font-family: "socicon";
}

a.instagram:before {
  content: "x";
}
a.youtube:before {
  content: "r";
}
